@import 'form.css';

body{
height: 100vh;
background-color: var(--green-clr);
display: flex;
justify-content: center;
align-items: center;
}

.logo{
	position: absolute;
	top: 30px;
	right: 30px;
	border: 1px solid white;
	width: 200px;
	height: 100px;
}